<?xml version="1.0" encoding="utf-8" ?> 

<Fairplay2>	
	<!--  The circuit file to compute -->
	<Circuit>SecondPriceAuction-compiled.sfdl</Circuit>

	<!-- List of IP's of the computers involved in the computation. -->
	<Participates>
		<!-- List of players (IP or RP) -->
		<Players>
			<Player NameInFunction="bidder[0]">127.0.0.1:8000</Player>
			<Player NameInFunction="bidder[1]">127.0.0.1:8010</Player>
			<Player NameInFunction="bidder[2]">127.0.0.1:8020</Player>
			<Player NameInFunction="bidder[3]">127.0.0.1:8030</Player>
			<Player NameInFunction="seller">127.0.0.1:8040</Player>
		</Players>
		<!-- List of IP of the CP -->
		<ComputationPlayers>
			127.0.0.1:8000,127.0.0.1:8010,127.0.0.1:8020,127.0.0.1:8030,127.0.0.1:8040
		</ComputationPlayers>
	</Participates>
	
	<Security>
		<!-- The security parameter to use -->
		<K>
			64
		</K>
		<!-- The prime number to use as modulo, modulo % 4 should be equal 3 -->		
		<Modulo>
			2367495770217142995264827948666809233066409497699870112003149352380375124855230068487109373226251983
		</Modulo>
		<!-- The protocol to use for the Pseudo Random Generator -->
		<PRGProtocol>
			SHA1PRNG
		</PRGProtocol>
		<!-- The certificates to use for the SSL connection -->	
		<!--Certificate>
			<keyStore>
				certificate/ks
			</keyStore>
			<keyStorePassword>
				123456
			</keyStorePassword>
			<trustStore>
				certificate/ts
			</trustStore>
			<trustStorePassword>
				123456
			</trustStorePassword>
		</Certificate-->
	</Security>
</Fairplay2>
